[Unit]
Description=Run the ROS Noetic and MAVROS & Autonomous Flight Setup
After=network.target
Requires=network.target

[Service]
# Ensure the service restarts if it fails
Restart=always
EnvironmentFile=/var/zenadrone/embedded/env/.env
ExecStart=/bin/bash -c "export ROS_MASTER_URI=http://$ROS_MASTER:$ROS_PORT && echo $ROS_MASTER_URI && source /opt/ros/noetic/setup.bash && roslaunch mavros px4.launch 'fcu_url:=/dev/ttyUSB0:57600'"

# Log output and errors
StandardOutput=append:/var/log/MAVROS_autonomous_flight.log
StandardError=append:/var/log/MAVROS_autonomous_flight_err.log

[Install]
WantedBy=multi-user.target
